:root{
    --main-text-color: #868585;
    --second-text-color: #FFFFFF;
    --main-h-color: #303030;
    --main-focus-color: #A9A32A;
    --main-bg-color: #FFFFFF;

    /* --seconder-bg-color:#2F303A;
    --main-btn-color: #2196F3;
    --seconder-btn-color: #000000;
    --third-btn-color: #212121;
    --fourth-btn-color: #FFFFFF;
    --third-bg-color:#F5F5F5;
    --fourth-bg-color: #F5F4FA;
    --soc-color: #AFB1B8;
    --main-gap: 30px; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
list-style: none;
    margin: 0;
    padding: 0;
}

.link {
text-decoration: none;
}
a {
    display: block;
    text-decoration: none;
}

.img {
    display: block;
    max-width:100%;
}


body {
    font-family: Noto Sans, sans-serif;
    color: var(--main-text-color);
    box-sizing: border-box;
}

.container {
    box-sizing: border-box;
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    /* padding-top: ;
    padding-bottom: ; */
}

/* header */

/* main */

.hero {
    max-width: 1920px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/hero_bg.jpg);
    padding-top: 70px;
    padding-bottom: 40px;
}

.container-hero {
    text-align: center;
    color: var(--second-text-color);

}
.logo {

}

.hero-up-text {
    font-size: 18px;
    line-height: 1.3888;
}

.hero-title {
    font-size: 64px;
    line-height: 1.3594;
    font-variant: small-caps;
    /* border: 1px solid #FFFFFF; */

}

.hero-title2 {
    font-weight: 400;
    font-size: 42px;
    line-height: 1.3571;
}

.hero-btn {

}

.hero-consult {
    background-color: var(--main-bg-color);
}